<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		
		 http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		 http://www.springframework.org/schema/security/spring-context .xsd
		 		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<context:component-scan
		base-package="com.demand.server.well_family_house.util.JwtUtil" />
	<context:annotation-config />

	<!-- ppg security -->
	<security:http pattern="/ppg/**" security="none" />

	<!-- well_family_house security -->
	<security:http pattern="/" security="none" />
	<security:http pattern="/main/login" security="none" />
	<security:http pattern="/main/join" security="none" />
	<security:http pattern="/main/email_check" security="none" />

	<security:http pattern="/**" create-session="stateless"
		entry-point-ref="restServicesEntryPoint">
		<security:custom-filter ref="jwtAuthenticationFilter"
			position="FORM_LOGIN_FILTER" />
		<security:csrf disabled="true" />
	</security:http>


	<!-- Entry point for REST service. -->
	<beans:bean id="restServicesEntryPoint"
		class="com.demand.server.well_family_house.security.RestAuthenticationEntryPoint" />


	<beans:bean id="jwtAuthenticationFilter"
		class="com.demand.server.well_family_house.security.JwtAuthenticationFilter">
		<beans:constructor-arg value="/**">
		</beans:constructor-arg>
		<beans:property name="authenticationManager" ref="authenticationManager" />
	</beans:bean>

	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider
			ref="jwtAuthenticationProvider" />
	</security:authentication-manager>

	<beans:bean id="jwtAuthenticationProvider"
		class="com.demand.server.well_family_house.security.JwtAuthenticationProvider" />



</beans:beans>

