<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.demand.server.well_family_house.exercisestory.service.impl.ExerciseStoryMapper">
	
	<insert id="insertExerciseStory" parameterType="ExerciseStory"
		useGeneratedKeys="true" keyProperty="id">
		insert into
			exercise_stories(user_id,exercise_category_id, score)
			values(#{user_id},#{exercise_category_id}, #{score})
	</insert>
	
	<select id="selectExerciseStory" resultType="ExerciseStory">
		SELECT	distinct
				es.id as id,
				es.user_id as user_id,
		        es.exercise_category_id as exercise_category_id,
		        es.score	as score,
		        ec.name		as title, 
		        es.created_at 	as created_at,
		        es.updated_at	as 	updated_at
		        
			FROM	exercise_stories	es,
					exercise_categories ec
			
		    where	es.exercise_category_id = ec.id	and
		    		es.id = #{param1}
	</select>
</mapper>