<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.demand.server.well_family_house.falldiagnosisstory.service.impl.FallDiagnosisStoryMapper">
	
	<select id="selectFallDiagnosisStory" resultType="FallDiagnosisStory">
		SELECT	id, fall_diagnosis_category_id, fall_diagnosis_risk_category_id, hits, created_at,updated_at
			FROM	fall_diagnosis_stories
			where	id = #{param1};
	</select>
	
	<delete id="deleteFallDiagnosisStory">
		delete 
			from	fall_diagnosis_stories 
		    where	id = #{param1} 
	</delete>

	<insert id="insertFallDiagnosisStory" parameterType="FallDiagnosisStory"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		fall_diagnosis_stories(user_id,fall_diagnosis_category_id, fall_diagnosis_risk_category_id)
		values(#{user_id},#{fall_diagnosis_category_id}, #{fall_diagnosis_risk_category_id})
	</insert>

	<insert id="insertSelfDiagnosis">
		insert into
		self_diagnosis(fall_diagnosis_story_id, user_id, fall_diagnosis_content_category_id)
		values(#{param1},#{param2},#{param3})
	</insert>

	<insert id="insertPhysicalEvaluation" parameterType="PhysicalEvaluation">
		insert into
	    physical_evaluations(fall_diagnosis_story_id,  user_id, physical_evaluation_category_id, minute, second, millisecond)
	    values(#{fall_diagnosis_story_id},#{user_id},#{physical_evaluation_category_id},#{minute},#{second},#{millisecond})
	</insert>
	
	<insert id="insertPhysicalEvaluationScore" parameterType="PhysicalEvaluationScore">
		insert into
		    physical_evaluation_scores(fall_diagnosis_story_id, balance_score, movement_score, leg_strength_score)
		    values(#{fall_diagnosis_story_id},#{balance_score},#{movement_score},#{leg_strength_score})
	</insert>
	
	<insert id="insertEnvironmentEvaluation">
		insert into
		environment_evaluations(fall_diagnosis_story_id, user_id, environment_evaluation_category_id)
		values(#{param1},#{param2},#{param3})
	</insert>
	
	<insert id="insertEnvironmentPhoto" parameterType="EnvironmentPhoto">
		insert into	environment_photos(fall_diagnosis_story_id, type, name, ext)
			values(#{fall_diagnosis_story_id}, #{type}, #{name}, #{ext});
	</insert>
	
	<select id="selectFallDiagnosisStoryCommentCount" resultType="int">
		SELECT	count(user_id) as comment_count
			FROM	fall_diagnosis_story_comments
			where	fall_diagnosis_story_id = #{param1};
	</select>
	
	<select id="selectFallDiagnosisStoryLikeCount" resultType="int">
		select	count(user_id) as like_count 
			from	fall_diagnosis_story_likes 
		    where	fall_diagnosis_story_id = #{param1};
	</select>
	
	<select id="selectUser"  resultType="int">
		SELECT	user_id 
			FROM	fall_diagnosis_stories
			where	id = #{param1};
	</select>
	
	<insert id="insertFallDiagnosisStoryLikeUp">
		insert into fall_diagnosis_story_likes(user_id, fall_diagnosis_story_id)
				values(#{param1}, #{param2});
	</insert>
	
	<insert id="insertEnvironmentEvaluationStatus" parameterType="EnvironmentEvaluationStatus">
		insert into	environment_evaluation_status(fall_diagnosis_story_id, fall_diagnosis_content_category_id)
				values(#{fall_diagnosis_story_id}, #{fall_diagnosis_content_category_id});
	</insert>
	
	<delete id="deleteFallDiagnosisStoryLikeDown">
		delete 
			from	fall_diagnosis_story_likes 
		    where	user_id = #{param1} and
					fall_diagnosis_story_id = #{param2};
	</delete>
	
	<select id="selectFallDiagnosisStoryLikeCheck" resultType="int">
		SELECT	count(id) as checked
			FROM	fall_diagnosis_story_likes 
		    where	user_id = #{param1} and
					fall_diagnosis_story_id = #{param2};
	</select>
	
	<update id="updateFallDiagnosisStoryHit">
		update	fall_diagnosis_stories 
			set		hits = hits+1 
		    where	id = #{param1};
	</update>
	
	<select id="selectFallDiagnosisStoryTitleWithRisk" resultType="String">
		SELECT	name 
			FROM	fall_diagnosis_content_categories
			where	id = (SELECT	fall_diagnosis_content_category_id 
								FROM	environment_evaluation_status
								where	fall_diagnosis_story_id = #{param1}
								limit 1)
	</select>
	
	<select id="selectFallDiagnosisRiskCategory" resultType="FallDiagnosisRiskCategory">
		SELECT	id, name, avatar, created_at, updated_at 
			FROM	fall_diagnosis_risk_categories
			where	id =  #{param1}
	</select>
	
	<select id="selectEnvironmentEvaluationCategoryTotalCountWithStoryId" resultType="int">
		SELECT count(id) as count
			FROM	environment_evaluation_categories
			where	fall_diagnosis_content_category_id = (SELECT	fall_diagnosis_content_category_id 
																FROM	environment_evaluation_status
																where	fall_diagnosis_story_id = #{param1}
																limit 1)
	</select>
	
	<select id="selectEnvironmentEvaluationList" resultType="EnvironmentEvaluation">
		SELECT	id, fall_diagnosis_story_id, user_id, environment_evaluation_category_id, created_at, updated_at 
			FROM	environment_evaluations
			where	fall_diagnosis_story_id =  #{param1}
	</select>
	
	<select id="selectFallDiagnosisContentCategoryList" resultType="FallDiagnosisContentCategory">
		SELECT	id, fall_diagnosis_category_id, name, content, avatar, created_at, updated_at
			FROM 	fall_diagnosis_content_categories
			where 	fall_diagnosis_category_id =  #{param1}
	</select>
	
	<select id="selectSelfDiagnosisList" resultType="SelfDiagnosis">
		SELECT id, fall_diagnosis_story_id, user_id, fall_diagnosis_content_category_id, created_at, updated_at 
			FROM	self_diagnosis
			where	fall_diagnosis_story_id =  #{param1}
	</select>
	
	<select id="selectPhysicalEvaluationScore" resultType="PhysicalEvaluationScore">
		SELECT	id, fall_diagnosis_story_id, balance_score, movement_score, leg_strength_score, created_at, updated_at 
			FROM	physical_evaluation_scores
		    where	fall_diagnosis_story_id = #{param1}
	</select>
	
	<select id="selectSelfDiagnosisContentCategoryList" resultType="FallDiagnosisContentCategory">
		SELECT	fc.id as id, fc.fall_diagnosis_category_id as fall_diagnosis_category_id, fc.name as name, fc.content as content, fc.avatar as avatar, fc.created_at as created_at, fc.updated_at as updated_at
				FROM 	fall_diagnosis_content_categories fc,
						self_diagnosis sd
					
				where 	fc.id = sd.fall_diagnosis_content_category_id	and
						sd.fall_diagnosis_story_id =  #{param1}
	</select>
	
	<select id="selectEnvironmentPhotoList" resultType="EnvironmentPhoto">
		SELECT	id, fall_diagnosis_story_id, type, name, ext, created_at, updated_at

			FROM	environment_photos
		    where	fall_diagnosis_story_id =  #{param1}
	</select>
	
	<select id="selectEnvironmentEvaluationCategoryListWithJoin" resultType="EnvironmentEvaluationCategory">
		SELECT  ec.id as id, ec.fall_diagnosis_content_category_id as fall_diagnosis_content_category_id , ec.name as name , ec.avatar as avatar, ec.created_at as created_at, ec.updated_at as updated_at 
			FROM	environment_evaluation_categories ec, 
					environment_evaluations ee
		            
			where	ec.id = ee.environment_evaluation_category_id	and
					ee.fall_diagnosis_story_id = #{param1}
	</select>
	
	<select id="selectFalldiagnosisStoryCommentList" resultType="CommentInfo">
		select	c.id as comment_id, c.user_id as user_id, u.name as user_name ,u.avatar as avatar,c.content as content, c.created_at as created_at, c.deleted as deleted 
			FROM	fall_diagnosis_story_comments c,
					users u
			where	c.user_id = u.id	and
					c.fall_diagnosis_story_id = #{param1} 
			order by	c.updated_at;
	</select>
	
	<insert id="insertFalldiagnosisStoryComment" parameterType="FalldiagnosisStoryComment"
		useGeneratedKeys="true" keyProperty="id">
		insert into fall_diagnosis_story_comments(user_id, fall_diagnosis_story_id, content)
			values(#{user_id}, #{fall_diagnosis_story_id}, #{content});
	</insert>

	<select id="selectFalldiagnosisStoryComment"
		resultType="FalldiagnosisStoryComment">
		select	* 
			from	fall_diagnosis_story_comments 
		    where	id = #{param1};
	</select>
</mapper>